figure figcaption {
    text-align: center;
}

table {
        table-layout:auto;
        margin: 5px auto;
        background-color: #ffffff;
        border-collapse: collapse;
            }
        
tr {
        text-align: left;
        padding: 15px;
        color: #333;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: none;
        border-right: none;
            }

img {
  width: 60%;
  height: auto;
}
