html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #FBF7F5;      /* pinkish white  */
  --primary-color: #9A7FD1; /* muted lavender */
  --accent-color: #F2ABC2;  /* pale pink */
  --text-color: #3E3B40;    /* dark grey */
}

.darkmode{
  --bg-color: #181A1B;      /* blue-black  */
  --primary-color: #9A7FD1; /* muted lavender */
  --accent-color: #D292A6;  /* dark pink */
  --text-color: #BAB4AB;    /* neutral */
}

body{
  margin: 0;
  padding: 2rem 1rem 4rem 1rem;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.icon-label {
  display: inline-flex;
  align-items: center; /* vertical alignment */
  gap: 1em;           /* spacing between icon and label */
  font-size: 18px;
  line-height: 1;
}

.icon-label ion-icon {
  font-size: 1.2em;     /* adjust to match text size visually */
  vertical-align: middle;
}

header {
  text-align: center;
  margin-bottom: 0rem;
  position: relative;
}


h1 {
  font-family: 'Crimson Text', serif;
  font-weight: 500;
  font-size: 3.4rem;
  margin-bottom: 0.3rem;
  color: var(--primary-color);
  letter-spacing: 0.02em;
}

/* This part is not currently in use
p.intro {
  font-size: 1.15rem;
  font-style: italic;
  color: var(--secondary-color);
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
*/

.quick-links {
  display: flex;
  justify-content: center;
  gap: 4.5rem;
  margin-top: 0.5rem;
}

figure {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
  overflow: hidden;
}

figcaption-one, figcaption-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 0.9em;
  color: var(--text-color);
  text-align: center;
  opacity: 0;  /* Hidden by default */
  transition: opacity 0.3s ease;
  /*padding: 0.5em;*/
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

img.profile-pic {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 150px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(62, 59, 64, 0.1);
  object-fit: cover;
  display: block;
  overflow: hidden;
  transition: filter 0.3s ease;
}

img.figure-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(62, 59, 64, 0.1);
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: filter 0.3s ease;
}

/*
section {
  margin-bottom: 3.5rem;
}
*/

h2 {
  font-family: 'Crimson Text', serif;
  font-weight: 500;
  font-size: 2.1rem;
  /*margin-bottom: 0.8rem;*/
  color: var(--primary-color);
  border-bottom: 3px solid var(--accent-color);
  /*padding-bottom: 0.2rem;*/
  max-width: max-content;
}

ul, ol {
  list-style-type: disc;
  padding-left: 1.4rem;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.1rem;
}

li {
  margin-bottom: 0.7rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1.8px solid transparent;
  transition: border-color 0.3s ease;
}

.quick-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1.8px solid var(--accent-color);
}

a:hover {
  border-color: var(--accent-color);
}

p {
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 0;
}

footer {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 80px;            
  text-align: center;
  font-size: 0.9em;
}

figure img:hover {
  filter: opacity(0.3);
}

figure img.profile-pic:hover + figcaption-one {
  opacity: 1;
}

figure img:hover + figcaption-two {
  opacity: 1;
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  border:none;
}

#theme-switch svg{
  fill: var(--primary-color)
}

#theme-switch svg:last-child{
  display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: block;
}